<section id="edit-post">
  <h1>Edit Post</h1>
  <form class="" action="<%= post_url %>" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <%= auth_token %>
    <label for="title">Title</label>
    <input id="title" type="text" name="post[title]" value="<%= @post.title %>">
    <br>

    <label for="url">URL 🔗</label>
    <input id="url" type="text" name="post[url]" value="<%= @post.url %>">
    <br>

    <label for="content">Content</label>
    <textarea id="content" name="post[description]"><%= @post.content %></textarea>
    <input type="submit" name="" value="Update Post">

    <!-- gets sub_id from the params in link_to on sub show page -->
    <input type="hidden" name="post[sub_id]" value="<%= @post.sub_id %>">
  </form>
</section>
