<section id="post-page">
  <h1><%= link_to "#{@post.title}", "http://#{@post.url}" %> by <%= @author %></h1>
  <section id="post-content">
    <p>Content:
    <% if @post.content %>
      <%= @post.content %>
    <% else %>
      <i><%= "~ Content not provided by author ~" %></i>
    </p>
    <% end %>
  </section>

  <section id="post-subs">
    <h2>Subs</h2>
    <ul><li><%= link_to "#{@post.sub.title}", sub_url(@post.sub) %></li></ul>
    <!-- <%#= render @post.subs %>  TODO -->
  </section>

  <% if @post.author == current_user %>
    <h3>✏️ Author tools ✏️</h3>
    <ul id="author-tools">
      <li><%= link_to "Edit Post", edit_post_url(@post) %></li>
      <li><%= button_to "Delete Post", post_url(@post), method: :delete %></li>
    </ul>
  <% end %>
