<section id="post-page">
  <% url = @post.url == "" ? "#{@post.url}".html_safe : "http://#{@post.url}".html_safe%>
  <h1><%= link_to "#{@post.title}", url %> by <%= @author %></h1>
  <section id="post-content">
    <p>Content:
    <% if @post.content != "" %>
      <%= @post.content %>
    <% else %>
      <i><%= "~ Content not provided by author ~" %></i>
    </p>
    <% end %>
  </section>

  <section id="post-subs">
    <h3>Subs</h3>
    <ul>
      <%= render @post.subs %>
    </ul>
  </section>

  <% if @post.author == current_user %>
    <h3>✏️ Author tools ✏️</h3>
    <ul id="author-tools">
      <li><%= link_to "Edit Post", edit_post_url(@post) %></li>
      <li><%= button_to "Delete Post", post_url(@post), method: :delete %></li>
    </ul>
  <% end %>
