<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav id="user_info">
<% if current_user %>
  <p>Hello, <%= current_user.username %>! 🙌</p>
  <%= button_to "Sign Out 👋", session_url, method: :delete %>
<% else %>
  <%= link_to "Sign In! 😄", new_session_url %>
<% end %>
</nav>

<section id="errors">
  <% if flash[:errors] %>
  <ul>
    <%= render "layouts/error", errors: flash[:errors] %>
  </ul>
  <% end %>
</section>

<main>
<%= yield %>
</main>

</body>
</html>
